body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-container {
  background-color: var(--dark-text-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--light-box-shadow);
  max-width: 400px;
  width: 100%;
  transition: var(--transition);
}

body.dark-theme .signin-container {
  background-color: var(--dark-bg-color);
  box-shadow: var(--dark-box-shadow);
}

.signin-container h1 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.error-message {
  position: absolute;
  right: 10px;
  top: 80px;
  padding: 1rem 2rem;
  background-color: var(--utility-color);
  transition: var(--transition);
  z-index: 10;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
}

.error-message.show {
  visibility: visible;
  opacity: 1;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition: var(--transition);
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}

.signin-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: var(--utility-color);
  color: var(--dark-text-color);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
}

.signin-button:hover {
  background-color: var(--tertiary-color);
}

.signin-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--secondary-color);
}

.signin-footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition);
}

.signin-footer a:hover {
  text-decoration: underline;
}
