@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --primary-color: #023e8a;
  --secondary-color: #0077b6;
  --neutral-color: #00b4d8;
  --utility-color: #ff9e00;
  --tertiary-color: #ff6d00;

  --transition: 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
  transition: var(--transition);
  height: 100vh;
  padding-top: 80px;
}

body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

header,
.navbar {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

body.dark-theme header,
body.dark-theme .navbar {
  background-color: #000000;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar .logo a {
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

.navbar .right-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.right-container .auth-container {
  display: flex;
  gap: 1rem;
}

.right-container .auth-container a {
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: var(--transition);
}

.right-container .auth-container a:first-child {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.right-container .auth-container a:last-child {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.right-container .auth-container a:first-child:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.right-container .auth-container a:last-child:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.theme-toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-toggler ion-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: var(--transition);
}

.theme-toggler .sunny {
  display: none;
}

.theme-toggler.active .sunny {
  display: block;
}

.theme-toggler.active .moon {
  display: none;
}
