<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>{{ .ErrMessage }}</title>

    <link rel="stylesheet" href="/frontend/static/css/style.css" />
    <link rel="stylesheet" href="/frontend/static/css/error-page.css" />
    <script defer src="/frontend/static/js/script.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/">Forum</a>
        </div>

        <div class="right-container">
          <div class="theme-toggler">
            <img
              class="web-icon moon"
              src="/frontend/static/assets/moon-regular.svg"
              alt="Moon Icon"
            />
            <img
              class="web-icon sunny"
              src="/frontend/static/assets/sun-regular.svg"
              alt="Sunny Icon"
            />
          </div>
        </div>
      </nav>
    </header>

    <div class="wrapper">
      <div class="container">
        <pre class="status-code">{{ .Code }}</pre>
        <pre class="status-msg">{{ .ErrMessage }}</pre>
        <button><a href="/">Back To Homepage</a></button>
      </div>
    </div>

    <footer class="footer">
      <p class="footer-text">@2025 . All rights Reserved.</p>
    </footer>
  </body>
</html>
