<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/static/css/style.css" />
    <link rel="stylesheet" href="/frontend/static/css/sign-in.css" />
    <script defer src="/frontend/static/js/script.js"></script>

    <title>Sign in</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/">Forum</a>
        </div>

        <div class="right-container">
          <!-- <div class="auth-container">
            <a href="/sign-up">Sign Up</a>
            <a href="/sign-in">Sign In</a>
          </div> -->

          <div class="theme-toggler">
            <ion-icon class="moon" name="moon"></ion-icon>
            <ion-icon class="sunny" name="sunny"></ion-icon>
          </div>
        </div>
      </nav>
    </header>

    <div class="signin-container">
      <h1>Sign In</h1>
      <form id="signin-form" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="signin-button" action="submit">
          Sign In
        </button>
      </form>
      <div class="signin-footer">
        Don't have an account? <a href="/sign-up">Sign up</a>
      </div>
    </div>

    <!-- Ion icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
